<p>layout works!</p>

<p>
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore voluptatem
  facilis repudiandae dignissimos itaque, cum odio. Tenetur incidunt vitae quos
  culpa natus. Ea placeat eaque voluptas obcaecati? Sed, necessitatibus a.
</p>

<button class="bg-penpot dark:bg-penpot-dark p-4">Penpot</button>

<button class="bg-gray-canvas">Canvas background</button>

<h1>Headline h1</h1>
<h2>Headline h2</h2>
<h3>Headline h3</h3>
<h4>Headline h4</h4>
<h5>Headline h5</h5>
<h6>Headline h6</h6>
