<div class="flex flex-col pt-14 pb-6 h-full gap-6">
  <!-- Header -->
  <div class="flex items-center justify-between">
    <div class="flex flex-col gap-2.5">
      <h1>Welcome</h1>
      <div class="text-2xl font-bold text-gray-200">Penpot Design System</div>
    </div>
    <img src="assets/logos/penpot-logo.svg" alt="penpot-logo" />
  </div>

  <!-- Divider -->
  <div class="border border-gray-100"></div>

  <div class="flex justify-between">
    <div class="text-lg font-bold leading-5">Hello</div>
    <div class="flex flex-col justify-between w-2/3 gap-16">
      <p>
        We have created Penpot Design System as the one source of truth for all
        processes and beliefs inside Penpot.
        <br />
        <br />
        We, as diverse humans, believe that the tools that we use to build end
        products should be as accessible to everyone, regardless of their
        background, skills or purchasing power. Also, not having a free & open
        source UX/UI tool that would make devs participate in the design process
        and bridge the gap between UX/UI and code was a terrible itch for us.
        <br />
        <br />
        We created Penpot out of the need to enjoy design freedom for
        cross-domain teams.
      </p>
      <div class="grid grid-cols-4 gap-x-12 gap-y-5">
        <img src="assets/welcome/cross-teams.svg" alt="cross-teams" />
        <img src="assets/welcome/open-standards.svg" alt="open-standards" />
        <img src="assets/welcome/contribution.png" alt="contribution" />
        <img src="assets/welcome/open-source.svg" alt="open-source" />

        <div class="text-xl text-center leading-5 font-bold">Community</div>
        <div class="text-xl text-center leading-5 font-bold">
          Quality <br />
          (Design & Code)
        </div>
        <div class="text-xl text-center leading-5 font-bold">Cross-funtcion</div>
        <div class="text-xl text-center leading-5 font-bold">Open source</div>
      </div>
    </div>
  </div>
</div>
